@font-face {
    font-family: Ubuntu;
    src: url("assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

.App {
    display: flex;
    font-family: Ubuntu;
    background: url("assets/img/bg.jpg");
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
